---
import BaseLayout from '../../layouts/BaseLayout.astro';
import OriginPage from '../../content/fr/origin.mdx';
---
<style>
    .container {
        padding-left: 20vw;
        padding-right: 20vw;
        padding-top: 10vh;
    }
</style>

<BaseLayout title="Origine et lignée">
    <div class="container">
        <OriginPage />
    </div>
</BaseLayout>