---
import BaseLayout from '../../layouts/BaseLayout.astro';
---
<style>
    .container {
        padding-left: 20vw;
        padding-right: 20vw;
        padding-top: 10vh;
    }
</style>

<BaseLayout title="Origine et lignée">
    <div class="container">
        <div class="container">
            <div style="text-align: center">
                <h1>Nous construisons quelque chose de génial !</h1>
                <p>Cette page n'est pas encore prête, mais nous y travaillons. Restez à l'écoute !</p>
            </div>
        </div>
    </div>
</BaseLayout>