---
import BaseLayout from '../layouts/BaseLayout.astro';
import OriginPage from '../content/origin.mdx';
---
<style>
    .container {
        padding-left: 20vw;
        padding-right: 20vw;
        padding-top: 10vh;
    }
</style>

<BaseLayout title="Origin and Lineage">
    <div class="container">
        <OriginPage />
    </div>
</BaseLayout>