---
const { events } = Astro.props;
---
<div class="container">
  <div class="timeline">
    <div class="timeline__wrap">
      <div class="timeline__items">
        {events.map(event => (
          <div class="timeline__item">
            <div class="timeline__content">
              <h2>{event.year}</h2>
              <p>{event.preview}</p>
            </div>
          </div>
        ))}
      </div>
    </div>
  </div>
</div>

<script src={`${import.meta.env.BASE_URL}scripts/timeline.js`} is:inline></script>
