---
const { events } = Astro.props;
---
<div class="timeline">
  <div class="timeline__wrap">
    <div class="timeline__items">
      {events.map(event => (
        <div class="timeline__item">
          <div class="timeline__content">{event}</div>
        </div>
      ))}
    </div>
  </div>
</div>

<script src="/scripts/timeline.js" is:inline></script>
