---
import BaseLayout from '../../layouts/BaseLayout.astro';
import OriginPage from '../../content/ar/origin.mdx';
---
<style>
    .container {
        padding-left: 20vw;
        padding-right: 20vw;
        padding-top: 10vh;
    }
</style>

<BaseLayout title="الأصل والنسب">
    <div class="container" dir="rtl">
        <OriginPage />
    </div>
</BaseLayout>