---
import BaseLayout from '../../layouts/BaseLayout.astro';
import Timeline from '../../components/Timeline.astro';

const events = [
];
---
<link rel="stylesheet" href={`${import.meta.env.BASE_URL}styles/timeline.css`}>

<BaseLayout title="Biografía de Ahmad Ismail">
    <div style="text-align: center">
        <h1>¡Estamos construyendo algo genial!</h1>
        <p>Esta página aún no está lista, pero estamos trabajando en ello. ¡Mantente atento!</p>
    </div>
</BaseLayout>
