---
import BaseLayout from '../../layouts/BaseLayout.astro';
---
<style>
    .container {
        padding-left: 20vw;
        padding-right: 20vw;
        padding-top: 10vh;
    }
</style>

<BaseLayout title="Origen y linaje">
    <div class="container">
        <div style="text-align: center">
            <h1>¡Estamos construyendo algo genial!</h1>
            <p>Esta página aún no está lista, pero estamos trabajando en ello. ¡Mantente atento!</p>
        </div>
    </div>
</BaseLayout>